/* --css apply external method-- */

/* p{
    height: 500px;
    width: 500px;
    color: green;
    background-color: brown;
    border: 5px solid black;
    
} */
/* .content-box{
    height: 350px;
    width: 350px;
    background-color: blue;
    padding: 20px;
    border: 10px solid black;
} */
/* 
.border-box{
    height: 400px;
    width: 400px;
    background-color: yellow;
    padding: 35px;
    border: 10px solid rgb(255,102,0);
    box-sizing: border-box;
} */

        /* Cascade    */

/* p{
    background-color: blue;
    border: 10px solid green;

} */

      /* Specificity */

 /* .specificity{
    background-color: orange;
    height: 100px;
    width: 200px;
 } 
 .spe-1 {
    background-color:green;
    height: 100px;
    width: 100px;
 }  
     */
     /* --inheritance-- */

  /* .parent{
    background-color: blue;
    height: 250px;
 } */
/* .spe-1{
    background-color: red;
    height: 100px; 

 } */
 /* .box{
    background-color: yellow;
    height: 75px;

 } */
 /* .parent-1{
    background-color: purple;
    height: 200px;
    border: 10px solid black;
    margin-top: 10px;
 } */
 /* .parent-2{
    background-color: green;
    height: 200px;
    border: 5px solid black;
    background-color: blue;

 } */
 /* .mainbox,.box{
    background-color: aqua;
    height: 75px;
    border: 5px solid black;
 }      */

 /* --!important rule-- */

 .pera-1{
   background-color: red !important;
 }
 .pera-2{
   background-color: yellow !important;
   border: 5px solid black;
 }