@import "variables";

// task-1-start
.maindiv {
    width: $w-maindiv;
    margin: $margin-main;
    text-align:$text-center;
}
.help-text{
    margin:$mr-h-text;
}
.help-text h1 {
    font-size: $fh1;
    font-weight: $fweight;
}

.help-text p {
    font-size: $fp;
    color: $fp-color;
}

.main-box {
    display: $d-flex;
    margin-left: $mr-l-main-b;
}

.box {
    margin-left: $mr-l-box;
    margin-top: $mr-t-box;
    height: $h-box;
    width: $w-box;
    border: $border;
    box-shadow: $shadow;
}

.logo {
    text-align: $text-center;
    margin-top: $mr-t-logo;
}

.logo span i {
    font-size: $flogo;
}

.logo h4 {
    font-size: $fh4;
    font-weight: $fweight
}

.box-text p {
    font-size: $fp-box;
    margin: $mr-box-t-p;
    color: $fp-color ;
}

.contact a {
    font-size: $fp-box;
    color: $color-a;
}

