@import "variables";

.maindiv {
    width: 1237px;
    margin: 0px 40px;
}
.help-text{
    text-align: center;
    margin: 10px 270px;
}
.help-text h1{
    font-size: $fh1;
    font-weight:bold;
}
.help-text p{
    font-size:$fp;
    color:$fp-color;
}
.main-box{
    display: flex;
    margin-left: 170px;
    
}
.box {
    margin-left:30px;
    height: 250px;
    width: 250px;
    border: 1px solid gray;
    box-shadow: 2px 2px 4px gray;
}
.logo{
    text-align: center;
    margin-top: 20px;
}
.logo span i{
    font-size: 50px;
}
.logo h4{
    font-size: 22px;
    font-weight: bold;
}
.box-text p {
    font-size: 14px;
    margin: 20px 40px;
}
.contact a{
    font-size: 14px;
    margin-left: 70px;
    color: rgba(0, 0, 255, 0.606);
}



