$d-flex:flex;
$text-center:center;


$margin-main:0px 40px;
$margin-h-text:10px 270px;
$mr-l-main-b:170px;
$mr-l-box:30px;
$mr-t-box:40px;
$mr-t-logo:20px;
$mr-box-t-p:20px 40px;
$mr-l-cont-a:70px;
$mr-h-text:0px 233px;


$h-box:250px;
$w-box:250px;
$w-maindiv:1222px;