.body{
    margin: 0;
    
}
 /* .rgb{
    height: 300px;
    width: 300px;
    background-color:pink;
    border: 10px solid green;

}  */
/* .rgba{
    height: 300px;
    width: 300px;
    background-color:yellow;
    border: 10px solid red;
}
.hex{
    height: 300px;
    width: 300px;
    background-color: brown;
    
} */

  /* .box{
    height: 200px;
    width: 200px; 
    background-image: url('../image/asset27.jpeg'),
    url('../image/asset\ 55.jpeg');
    background-blend-mode:darken;
    background-repeat:no-repeat ;
    background-size: cover;

  
}  */
/* .box{
    height: 300px;
    width: 300px;
    border: 30px solid blue;
    padding: 30px;
    background-color: brown;
    background-image: url('../image/asset27.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin:content t-box;
} */

/* .box{
    height: 800px;
    width: 1000px;
    background-image: url('../image/asset\ 55.jpeg');
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
} */
 /* .linear-gradient-1{
    height: 500px;
    width: 500px;
    background: linear-gradient(to right,red,blue,black); 
}
.diagonal-linear-gradient{
    height: 400px;
    width: 400px;
    border-radius: 100%;
    background:linear-gradient(to top,red,
    orange,blue,purple,indigo,violet,yellow ) ;
}
 .radial-gradient-simple{
    height: 800px;
    width: 500px;
    background:radial-gradient(circle farthest-corner at
     right,red,blue) ;
} 
  .bullseye{
    height: 100vh;
    width: 100%;
    background: repeating-linear-gradient(red,red 5%,
    white,white 25%); 
}  
 .conic{
    height: 350px;
    width: 350px;
    background-color: chocolate;
    background-image: conic-gradient(red,rgb(0.255,30)
    rgb(128,0,20));

} 
 .worning{
    height: 500px;
    width: 500px;
    background: repeating-linear-gradient(-30deg, yellow, yellow 10%,
    black 10%, black 20% );
    background-image: linear-gradient(to right,#b465da,#ee45da,#fcfcfc,#eee)
}  */

/* css border */


/* .solid{
    width: 100px;
    height:400px;
    background-color: yellow;
    border: 10px solid green;
}

.dotted{
    width: 100px;
    height:450px;
    background-color: yellow;
    border: 10px dotted green;
}
.dashed{
    width: 100px;
    height:500px;
    background-color: yellow;
    border: 10px dashed green;
} 
.double{
    width: 100px;
    height:550px;
    background-color: yellow;
    border: 10px double green;
} 
.hidden{
    width: 100px;
    height:600px;
    background-color: yellow;
    border: 10px hidden green;
} 
.none{
    width: 100px;
    height:500px;
    background-color: yellow;
    border: 10px none green;
}
.ridge{
    width: 100px;
    height:450px;
    background-color: yellow;
    border: 10px ridge green;
} 
.inset{
    width: 100px;
    height:400px;
    background-color: yellow;
    border: 10px inset green;
} 
.dotted{
    width: 100px;
    height:450px;
    background-color: yellow;
    border: 10px dotted green;
}
.outset{
    width: 100px;
    height:350px;
    background-color: yellow;
    border: 10px outset green;
}

.groove{
    width: 100px;
    height:300px;
    background-color: yellow;
    border: 10px groove green;
}     */

/* .border{
      height: 300px;
      width: 300px;
      border: 20px solid green;
      border-top: 30px solid red;
      border-right: 35px dashed yellow;
      border-left: 45px dotted black ;
      border-top-style: dotted ;
      border-bottom-color: orange;
} */

/* border-redius */
 /* .maindiv{
    position: relative;
}
.border-redius{
    height: 500px;
    width: 500px;
    border: 10px solid green;
    border-radius: 20px;
    border-radius: 20px 40px;
    border-radius: 20px 40px 60px;
    border-radius: 20px 40px 60px 80px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}
.border-redius img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    object-position: top;
    position:absolute ;

}
.circle{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: blue;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    border-radius: 100%;
    overflow: hidden;
    border: 10px solid blue;
}
.circle img{
    height: 200px;
    width: 200px; 
} */

/* .outline{
    height: 200px;
    width: 200px;
    border: 10px solid green;
    margin: 200px;
    outline: 10px dotted orange;
    outline-offset: 10px;
} */
/* .opacity{
    height: 100vh;
    width: 100%;
    background-color: rgb(255,0,0,0.8); 

} */

 /* .linear-gradient-1{
    height: 500px;
    width:100%;
    background: linear-gradient(to right, red, blue , yellow);
}   */

 /* .diagonal-linear-gradient {
    height: 500px;
    width:100%;
    background: linear-gradient(to bottom   , red 70% , yellow 30%);
}  */

 /* .linear-gradient-rainbow {
    height: 500px;
    width:500px;
    border-radius: 100%;
    background: linear-gradient(to top, red, orange, yellow, green, blue, indigo, violet)
}  */

  /* .radial-gradient-simple {
    height: 800px;
    width:100%;
    background: radial-gradient( red, orange, yellow, green, blue, indigo, violet);
}   */

  /* .radial-gradient {
    height: 100vh;
    width:100%;
    background: radial-gradient(circle farthest-corner at right, red, blue);
}   */

 /* .bullseye {
    height: 100vh;
    width:100%;
    background: repeating-radial-gradient(red, red 5%, white , white 20%);
}  */

 /* .warning {
    height: 100vh;
    width:100%;
    background: repeating-linear-gradient(-30deg, yellow, yellow 10%, black 10%, black 20% );
} */
  
     /* .conic{
    height: 400px;
    width: 400px;
    background-color: red;
    background-image: conic-gradient(red, rgb(0, 255, 30), rgb(128, 0, 102));
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}   */








