body{
  margin: 0;
}

.full_body {
background-image: url('../image/sports-stadium.jpg');
height: 600px;
background-size: cover;
background-position: bottom;
}
.out-image{
  text-align: center;
  animation: out-image 5s infinite;
}
.out-image img{
  width: 500px;
}

.stump {
position: absolute;
width: 100px;
height: 250px;
background-image: url('../image/stump1.png');
bottom: 20px;
right: 0;
background-size: cover;
animation: out 5s infinite;
}
.ball {
position: absolute;
width: 60px;
height: 60px;
left: -10%;
bottom: 20%;
background-image: url('../image/ball.png');
background-size: cover;
animation: bolling 5s infinite;
animation-timing-function: linear;
}
@keyframes bolling {
  0%{
    left: -10%;
  }
  65%{
    left: 65%;
    bottom: 0;
  }
  100%{
    left: 95%;
    bottom: 20%;
  }
}
@keyframes out {
  0%{
    background-image: url('../image/stump1.png');
  }
  90%{
    background-image: url('../image/stump1.png');
  }
  100%{
    background-image: url('../image/stump2.png');
  }
}

@keyframes out-image{
  0%{
    display: none;
  }
  90%{
    display: none;
  }
  100%{
    display: block;
  }
}